<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Vora EX</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='imagenes/logo.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
</head>

<body>
  <header class="topbar">
  <a href="{{ url_for('index') }}" class="brand-link">
    <div class="brand">
      <img src="{{ url_for('static', filename='imagenes/logo.png') }}" alt="logo" class="logo">
      <span>Vora EX</span>
    </div>
  </a>
  <nav>
    {% if session.get('user') %}
      <a href="{{ url_for('chat') }}" class="theme-btn">Chat</a>
      <a href="{{ url_for('logout') }}" class="theme-btn btn-logout">Cerrar sesión</a>
    {% else %}
      <a href="{{ url_for('login') }}" class="theme-btn">Iniciar sesión</a>
      <a href="{{ url_for('registro') }}" class="theme-btn">Registrarse</a>
    {% endif %}
    <button id="themeToggle" class="theme-btn">
      🌙
    </button>
  </nav>
</header>
  <main class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flashes">
          {% for category, msg in messages %}
            <div class="flash {{ category }}">{{ msg }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </main>
  <footer class="footer">
  <p> {{ current_year }} Vora EX</p>
  <p style="font-size: 0.75rem; color: var(--muted); opacity: 0.6; margin-top: 4px;">
    Creado por David Bejarano, Carlos Sotelo y Andrés Molina
  </p>
</footer>
  <script>
  const root = document.documentElement;
  const btn = document.getElementById("themeToggle");

  // Cargar tema guardado
  if (localStorage.getItem("theme")) {
      root.setAttribute("data-theme", localStorage.getItem("theme"));
      btn.textContent = localStorage.getItem("theme") === "light" ? "☀️" : "🌙";
  }

  btn.addEventListener("click", () => {
      const current = root.getAttribute("data-theme");
      const next = current === "dark" ? "light" : "dark";

      root.setAttribute("data-theme", next);
      localStorage.setItem("theme", next);

      btn.textContent = next === "light" ? "☀️" : "🌙";
  });
</script>
</body>
</html>

