{% extends "Base.html" %}
{% block title %}Registro - Recomombot{% endblock %}
{% block content %}
  <div class="card auth-card">
    <h2>Crear cuenta</h2>
    <form method="POST" action="{{ url_for('registro') }}">
      <label>Nombre</label>
      <input type="text" name="nombre" required placeholder="Tu nombre">
      <label>Email</label>
      <input type="email" name="email" required placeholder="correo@ejemplo.com">
      <label>Contraseña</label>
      <input type="password" name="password" required placeholder="Contraseña segura">
      <button class="btn" type="submit">Registrarme</button>
      <button class="btn" onclick="window.location.href='/registrar_rostro'">
        Registrar Rostro
      </button>


     <div>
    </div>  
    </form>
    <p>¿Ya tienes cuenta? <a href="{{ url_for('login') }}">Inicia sesión</a></p>
  </div>
{% endblock %}
